<h1 align="center">Sign Up</h1>

<div class="d-flex justify-content-center align-items-center container "> <br/>

<%= form_for :user, url: '/users' do |f| %>

  <br/>Name: <%= f.text_field :name %><br/>
  Email: <%= f.text_field :email %><br/>
  Password: <%= f.password_field :password %><br/>
  Password Confirmation: <%= f.password_field :password_confirmation %><br/>
  <%= f.submit "Submit" %>

<% end %>
</div>