<h1 align="center">Sign Up</h1>

<div class="d-flex justify-content-center align-items-center container "> <br/>

<%= form_for :user, url: '/users' do |f| %>

  <br/>Name: <%= f.text_field :name %><br/>
  Email: <%= f.text_field :email %><br/>
  Password: <%= f.password_field :password %><br/>
  Password Confirmation: <%= f.password_field :password_confirmation %><br/>
  <%= f.submit "Submit" %>

<% end %>
</div>

<h3 align="center"><%= link_to 'Back to Login', '/login' %></h3>

<% require 'sendgrid-ruby'

sendgrid = SendGrid::Client.new do |c|
  c.api_key = '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'
end

email = SendGrid::Mail.new do |m|
  m.to        =  'ayushp@seas.upenn.edu'
  m.from      = 'ayusoccer@gmail.com'
  m.subject = 'Thanks for Signing Up for Data Doc!'
end

#sendgrid.send(email)%>