<%= form_with(model: patient, local: true) do |form| %>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :patient_last_name %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :patient_first_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :patient_email %>
  </div>

  <div class="field">
    <%= form.label :insurance %>
    <%= form.text_field :insurance, id: :patient_insurance %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
