<%= form_with(model: patient, local: true) do |form| %>

  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :patient_last_name %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :patient_first_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :patient_email %>
  </div>

  <div class="field">
    <%= form.label :insurance %>
    <%= form.text_field :insurance, id: :patient_insurance %>
  </div>

  <div class="actions">
    <button class="btn btn-primary" type="submit">Save Patient</button>
  </div>
<% end %>
